.home_container {
    height: 100vh;
    background-color: rgba(32, 32, 32, 0.966);
}

.image_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36.5em;
    height: 150px;
    width: 100vw;
    transition: 0.3s;
    background-color: rgba(32, 32, 32, 0.966);
}

.image_text_container span {
    font-size: 33px;
    color: white;
    letter-spacing: 0.5em;
}

.home_image {
    position: relative;
    height: 100%;
}

.social_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 35%;
    z-index: 6;
}

.social_icon_facebook, .social_icon_instagram, .social_icon_gmail {
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 0.4em;
    display: flex;
    transition: all 0.5s;
}

.social_icon_facebook, .social_icon_instagram, .social_icon_gmail{
    background-color: rgba(32, 32, 32, 0.582);
}

.social_icon_facebook {
    border-radius: 0 0.3em 0 0;
}

.social_icon_gmail {
    border-radius: 0 0 0.3em 0;
}


.social_icon_facebook:hover, .social_icon_instagram:hover, .social_icon_gmail:hover {
    padding-left: 2em;
    border-radius: 0 0.3em 0.3em 0;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.42);
}

.social_icon_facebook:hover {
    background-color: #2E406E;
}

.social_icon_instagram:hover {
    background-color: #E83028;
}

.social_icon_gmail:hover {
    background-color: #3F60A5;
}
/* RESPONSIVE ------------------------------------ */
@media screen and (max-width: 1000px) {/* ---------- */
    .home_image {
        height: 100%;
        padding-top: 70px;
        background-color: rgba(32, 32, 32, 0.966);
    }

    .image_text_container {
        margin-top: 32em;
        height: 10.5vh;
        width: 100vw;
        background-color: rgba(32, 32, 32, 0.966);
    }
}

@media screen and (max-width: 800px) {/* ------------ */
    .image_text_container {
        margin-top: 28em;
        height: 10.5vh;
        width: 100vw;
        background-color: rgba(32, 32, 32, 0.966);
    }

    .social_bar {
        display: none;
    }

    .image_text_container span {
        letter-spacing: 0.3em;
    }
}

@media screen and (max-width: 600px) {/* ---------------- */
    .home_container {
        height: 75vh;
    }
    
    .home_image {
        height: 65vh
    }

    .image_text_container {
        margin-top: 20em;
    }

    .social_bar {
        margin: 13em auto 0 auto;
    }

    .image_text_container span {
        font-size: 30px;
    }

    .image_text_container span {
        font-size: 26px;
        letter-spacing: 0.3em;
    }
}

@media screen and (max-width: 500px) {/* ------------- */
    .image_text_container {
        margin-top: 18em;
    }

    .social_bar {
        margin: 12em auto 0 auto;
    }

    .image_text_container span {
        font-size: 24px;
        letter-spacing: 0.3em;
    }
}

@media screen and (max-width: 360px) {/* ------------ */
    .home_container {
        height: 50vh;
    }

    .home_image {
        height: 290px;
        padding-top: 6em;
        background-color: rgba(32, 32, 32, 0.966);
    }

    .image_text_container {
        margin-top: 10em;
        height: 10.5vh;
        width: auto;
    }
    
    .image_text_container span {
        font-size: 22px;
        letter-spacing: 0.1em;
    }

    .social_bar {
        top: 18%;
        z-index: 1;
    }

    .social_icon_facebook, .social_icon_instagram, .social_icon_gmail {
        font-size: 15px;
        padding: 0.3em;
    }
}
