.services_container {
    height: auto;
    transition: 0.3s;
}

/* GENERAL COMPONENTS ----------------------------------------------------- */

.what_container, .materials_container, .who_container {
    height: 100vh;
    width: 90vw;
    margin: auto;
    display: flex;
}

.what_images_container, .what_text_container, .materials_text_container, .materials_images_container, .who_text_container, .who_images_container {
    width: 50%;
}

.what_text_container, .materials_text_container, .who_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 2em;
}

.what_text, .who_text_container {
    margin-left: 2em;
    margin-bottom: 0;
}

.what_text_container h1, .materials_text_container h1 {
    margin-left: 3em;
}

.materials_text {
    margin-left: 6em;
}

.what_text li, .materials_text li {
    margin: 12px
}

.what_text li::marker, .materials_text li::marker {
    color:  rgb(187, 126, 14);;
}

.what_images_container, .materials_images_container, .who_images_container {
    padding: 1em 0 1em 0;
}

.what_span {
    font-weight: bold;
    color: rgb(187, 126, 14);
/*     border-bottom: 1px solid rgb(187, 126, 14); */
}

/* SEPARATION TEXTS ----------------------------------------------------- */
.services_separation_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0px 15px 10px -22px #111;
}
 
.services_separation_text span {
    width: 80%;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 15px 10px -22px #111;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
}

/* CV BUTTON -------------------------------------------------------------- */
.about_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3em;
    border: 1px solid rgba(128, 128, 128, 0.452);
    margin-left: 8em;
    transition: 0.4s;
}

.about_button a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.about_button a:hover {
    color: rgb(218, 144, 7);
}

/* SCROLL ---------------------------------------------------------------- */
.what_div_scroll {
    position: relative;
    left: 80%;
    margin-top: 2em;
}

.materials_div_scroll {
    position: relative;
    display: flex;
    height: 3em;
    width: 100%;
    right: 15%;
    margin-top: 4em;
}

.who_div_scroll {
    position: relative;
    left: 84%;
    margin-top: 5em;
} 

/* RESPONSIVE -------------------------------------------------------------- */

@media screen and (max-width: 1000px) {/* ------------------------------------ */
    .what_container, .materials_container, .who_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
    
    .what_images_container, .what_text_container, .materials_text_container, .materials_images_container, .who_text_container, .who_images_container {
        width: 90vw;
    }
    
    .materials_container {
        margin: 0;
        padding: 0;
    }
    
    /* GENERAL --------------------------------------------------------------- */
    
    .what_text_container, .materials_text_container, .who_text_container {
        height: auto;
        padding: 4em 0em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .what_text_container h1, .materials_text_container h1, .who_text_container h1 {
        text-align: center;
    }
    
    .what_text, .who_container {
        padding: 0em 2em;
    }
    
    /* WHAT ------------------------------------------------------------------ */
    .what_text_container {
        margin-top: 4em;
    }
    
    /* MATERIAL TEXT --------------------------------------------------------- */

    .materials_text {
        margin: 1em 0em;
    }
    
    .about_button {
        margin: 1em auto;
    }
    
    /* WHO GENERAL ------------------------------------------------------------ */
    .who_text_container {
        width: 80%;
        margin-top: 3em;
    }
    
    /* IMAGES ----------------------------------------------------------------- */
    
    .what_images_container, .materials_images_container, .who_images_container {
        width: 80vw;
    }
    
    /* SCROLL ----------------------------------------------------------------- */
    
    .what_div_scroll {
        position: relative;
        left: auto;
        margin-top: 4em;
    }    
    
    .materials_div_scroll {
        width: auto;
        left: auto;
        right: 0%;
        margin-top: 1.5em;
    }
    
    .who_div_scroll {
        width: auto;
        left: auto;
        margin-top: 3em;
    }
    
    /* PARALLEX --------------------------------------------------------------- */
    .services_separation_text span {
        font-size: 20px;
        font-weight: 550;
    }
}

@media screen and (max-width: 800px) {/* ----------------------------------- */
    .who_container, .what_container {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {/* ----------------------------------- */
    .what_images_container, .materials_images_container, .who_images_container {
        padding: 0;
    }

    .what_text_container {
        margin-top: 1em;
        padding-top: 4em;
    }

    .what_text_container h1 {
        margin: 0;
    }

    .what_text {
        margin: 0;
    }
    
    .what_div_scroll {
        position: relative;
        left: 0%;
    }    

    .materials_div_scroll {
        width: auto;
        margin-top: 2em;
        left: 0%;
    }

    .materials_text_container {
        margin: auto;
    }

    .materials_text_container h1 {
        margin: 1em 0 1em 0;
    }

    .who_div_scroll {
        width: auto;
        left: auto;
        margin-top: 2em;
    }

    .about_button {
        margin: 1em auto;
    }

    .who_container {
        padding: 0em;
    }

    .who_text_container {
        margin-top: 2em;
        padding-bottom: 1em;
    }
}














