.contact_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/7.jfif");
    background-size: cover;
}

.contact_title {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 3em;
}

/* FORM ------------------------------------------------------------ */
.contact_form {
    width: 40%;
    height: 79.7vh;
    margin-top: 6em;
    margin-left: 50%;
    color: rgb(218, 144, 7);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.938);
}


.contact_form h1 {
    color: rgba(0, 0, 0, 0.733);
}

.contact_form_div {
    display: flex;
    margin: 15px auto 0px auto;
    width: 30em;
}

.contact_form_label {
    width: 130px;
}

.contact_form_input {
    font-size: 16px;
    background-color: transparent;
    outline: none;
    width: 310px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
    border-top: none;
    border-left: none;
    border-right: none;
}

.contact_form_textarea {
/*     border: 1px solid rgba(128, 128, 128, 0.521); */
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.37);
}

/* BUTTON ---------------------------------------------------------- */
.contact_form_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 3em;
    border: 1px solid rgba(128, 128, 128, 0.452);
    margin: auto;
    transition: 0.4s;
    color: black;
    transition: 0.4s;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.contact_form_button:hover {
    color: rgb(218, 144, 7);
}

/* RESPONSIVE ------------------------------------------------------ */

@media screen and (max-width: 1280px) {/* -------------------------- */
    .contact_form {
        padding: 0em 2em;
    }
}

@media screen and (max-width: 1100px) {/* -------------------------- */
    .contact_form {
        width: 45%;
        height: 73vh;
        padding-bottom: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 1100px) {/* -------------------------- */
    .contact_form {
        width: 40%;
        margin-top: 6em;
        padding-bottom: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .contact_form_div {
        margin:auto;
        width: 80%;
        margin-top: 1.2em;
    }
    
    .contact_form_label {
        width: 150px;
    }
}

@media screen and (max-width: 950px) {/* --------------------------- */
    .contact_image_description {
        transition: 0.3s;
        font-size: 12px;
        top: 41em;
    }
}

@media screen and (max-width: 800px) {/* --------------------------- */
    .contact_container {
        flex-direction: column;
        height: auto;
    }
    
    .contact_form {
        width: 80%;
        height: auto;
        margin: 6em auto 2em auto;
        border: 0;
        padding-bottom: 3em;
    }
        
    .contact_form_button {
        width: 200px;
        height: 3em;
        margin-top: 2em;
    }
}

@media screen and (max-width: 600px) {/* ----------------------------- */
    .contact_form {
        padding: 1em 0;
        width: 95%;
    }

    .contact_title {
        padding-top: 1em;
        margin-bottom: 2em;
    }

    .contact_form_button {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}

/* @media screen and (max-width: 360px)  {
    
    .contact_image_description {
        top: 25em;
        font-size: 12px;
    }
} */





